#include "palamedes.h"
//-------------------
// File Info
//-------------------
1 VERSIONINFO
 FILEVERSION 1,0,3,0
 PRODUCTVERSION 1,0,3,0
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040804b0"
        BEGIN
            VALUE "CompanyName", "proteuss@softhome.net"
            VALUE "FileDescription", "Polytonic Greek Typing Aid"
            VALUE "FileVersion", "1,0,3"
            VALUE "InternalName", "Palamedes-MinGW32"
            VALUE "LegalCopyright", "©2013 - 2016 Proteus"
            VALUE "OriginalFilename", "palamedes.exe"
            VALUE "ProductName", "Palamedes"
            VALUE "ProductVersion", "1,0,3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x408, 1200
    END
END

//-------------------
// Main Dialog 
//-------------------
IDI_ICON_ON ICON "pi-green.ico"
IDI_ICON_OFF ICON "pi-red.ico"
IDD_MAIN DIALOG 10, 10, 167, 77
// STYLE WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU |WS_OVERLAPPED
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU |WS_BORDER | WS_GROUP
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Enable",ID_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,20,50,14
    PUSHBUTTON      "OK",ID_OK,20,45,30,14
    PUSHBUTTON      "Help",ID_HELP,115,20,30,14
    PUSHBUTTON      "Exit",ID_EXIT,115,45,30,14
    GROUPBOX        "Palamedes",IDC_STATIC,6,4,156,67
END
